 @import '../../mixin.scss';
 .comment-menu{
    display: flex;
    column-gap: 10px;
    margin-top: 30px;
}
.comment-title{
    color: #19202C;
    font-size: 26px;
    font-weight: 700;
    @include for-tablet-4{
        max-width: 200px;
        width: 100%;
        font-size: 20px;
    }
}
.commentText{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.comment-text{
    font-weight: 400;
    font-size: 16px;
    color: #C2C2C2;
    max-width: 600px;
    width: 100%;
    @include for-tablet-3{
        max-width: 400px;
    }
    @include for-tablet-4{
        max-width: 200px;
    }
}