@import '../../mixin.scss';
.card-list{
    max-width: 540px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    @include for-phone{
        max-width: 250px;
        width: 100%;
    }
}
.card-img2{
    max-width: 540px;
    width: 100%;
    height: 200px;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;

    @include for-phone{
        max-width: 250px;
        width: 100%;
    }
}