.profil-img{
    max-width: 100%;
    width: 100%;
    height: 200px;
    border-radius: 10px;
}
.card-menu{
    margin-top: 30px;
}
.profil-link-list{
    display: flex;
    align-items: center;
    column-gap: 40px;
    list-style: none;
    margin-top: 30px;
}
.profil-link{
    text-decoration: none;
    color: #000000;
}
.activen2{
    // border-bottom:1px solid red ;
    color: red;
}
.table{
    margin-top: 30px;
}
.profil-container4{
    padding-right: 100px;
}
